body {
    font-family: 'Roboto', sans-serif;
    background-color: #1d4e9c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

form {
    background-color: white;
    margin: 50px auto;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    padding: 0px 50px;
}

h1 {
    background-color: rgb(16, 1, 60);
    color: white;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    margin: 0px -50px 5px -50px;
}

#fname {
    font-size: 15px;
    margin-bottom: 8px;
    margin: 0 50px;
}
#email {
    font-size: 15px;
    margin-bottom: 8px;
    margin: 0 70px;
}
#contact {
    font-size: 15px;
    margin-bottom: 10px;
    margin: 0 50px;
}
#address {
    font-size: 15px;
    margin-bottom: 10px;
    margin: 0 30px;
}
select {
    font-size: 14px;
    margin-bottom: 10px;
}
#bdate {
    font-size: 14px;
    margin-bottom: 10px;
    margin: 0 40px;
}
#cdate{
    font-size: 14px;
    margin-bottom: 10px;
    margin: 0 40px;
}
#bkash{
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 10px;
}
#rocket{
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 10px;
}
div{
    text-align: left;
}
textarea, select {
    margin: 0px 35px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #E7E7E7;
    border: none;
}
input{
    box-sizing: border-box;
    padding: 10px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #5247b8;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

input[type="submit"]:hover {
    background-color: #411668;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;

}
submit{
    align-items: center;
}
/* select {
    font-size: 18px;
} */
/* 
.form_inline {
    display: inline;
    margin-left: 10px;
}

.form_inline input {
    width: auto;
    margin-left: 4px;
} */